.holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
}

.item {
    background-color: #ddd;
    padding: 20px;
    min-width: 120px;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    margin: 10px 0;
}
